<!--Please edit this file on Sorapointa Core, other copy would be overwritten-->
<configuration debug="false">
    <!--NopStatus for remove long beginning notice-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <!--stdout logger, for non-info level-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="moe.sdl.parsemail.logging.PatternLayoutNoLambda">
            <pattern>%d{MM-dd'T'HH:mm:ss} - %highlight(%.-1le) [%t] %green([%lo{40}]) >>> %highlight(%m) %n%rEx{full}</pattern>
        </encoder>
    </appender>
    <!--info logger, minimize info for keep clean-->
    <appender name="INFO-LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="moe.sdl.parsemail.logging.PatternLayoutNoLambda">
            <pattern>%d{MM-dd'T'HH:mm:ss} - %highlight(%.-1le) %green([%lo{0}]) >>> %highlight(%m) %n%rEx{full}</pattern>
        </encoder>
    </appender>
    <!--Root Logger-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO-LOGGER"/>
    </root>
</configuration>
